<footer>
    <h5 id="footer-msg">❤ made by the rööms team ❤</h5>
    <a href="https://github.com/samanthashleyrose/rooms?tab=readme-ov-file#how-to-contribute" id="contact">contact us for help</a>
</footer>