{{!-- <header>
    <img id="logo-img" src="" alt="rööms logo">
    <div class="home-btn-container">
    <button id="home-btn">home</button>
    </div>
</header> --}}

<header>
    <div class="img-container">
    <img id="logo-img" src="" alt="rööms logo">
    </div>
    <div class="home-btn-container">
    <button id="home-btn">home</button>
    </div>
</header>

<script src="/js/logo.js"></script>