<!-- PROFILE INPUT FIELDS -->
<div class="form-container">
    <form action="/profile-update" method="POST">
        <label for="input">↓ UPDATE YOUR PROFILE ↓</label>
        <br>
        <input id="name-input" type="text" placeholder="{{user.name}}" name="name">
        <input id="email-input" type="text" placeholder="{{user.email}}" name="email">
        <button type="submit" id="update-btn">update</button>
        <!-- Display error message -->
        {{#if errorMessage}}
        <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>