<!-- PROFILE INFO -->
<div class="profile-container" id="profile-info">
    <form id="profile-info-form">
        <h2 for="input">WELCOME, {{user.name}}</h2>
        <br>
        <img src="{{user.img}}" alt="user's profile image">
        <p id="user-name">{{user.name}}</p>
        <p id="user-email">{{user.email}}</p>
        <button type="click" id="update-profile-btn">update profile</button>
    </form>
</div>

<script src="/js/profile.js"></script>