<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms - {{title}}</title>
    <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>