{{!-- hamburger menu --}}
<nav>
  <a>Your Rooms</a>
  <a href="#"></a>
  <a href="#"></a>
  <a href="#"></a>
</nav>
<div class="content-container">
  {{> main-header}}
  <div class="btns-container">
    <button>Create a Room</button>
    <button>Join a Room</button>
  </div>
</div>