  {{> header}}

<button>Create a Room</button>

<button>Join a Room</button>
{{!-- hamburger menu --}}
<nav>
        <a>Your Rooms</a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#">Contact</a>
    </nav>
