  {{> header}}
<div>
    <button class="button">Create a Room</button>

    <button class="button">Join a Room</button>
</div>
{{!-- hamburger menu --}}
<nav>
        <a>Your Rooms</a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </nav>
