<!-- HEADER -->
{{> header-nav}}
<!-- INPUT FIELDS -->
<div class="form-container">
    <form id="join-room-form">
        <label for="input">JOIN A ROOM!</label>
        <br>
        <input id="code-input" type="text" placeholder="ENTER CODE HERE" name="code">
        <button type="submit" id="join-btn" autocomplete="off">join</button>
        <!-- Display error message -->
        {{#if errorMessage}}
        <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>

{{> footer}}
<script src="/js/join-room.js"></script>