<!-- HEADER -->
{{> main-header}}
<!-- INPUT FIELDS -->
<div class="form-container">
    <form id="login-form">
        <label for="input"></label>
        <br>
        <input id="email-input" type="text" placeholder="email" name="email">
        <br>
        <input id="pass-input" type="password" placeholder="password" name="password">
        <br>
        
        <!-- Display error message -->
        {{#if errorMessage}}
        <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>
{{!-- BUTTONS --}}
<div class="btns-container">
    <button type="submit" id="login-btn" form="login-form">login</button>
    <button type="submit" id="sign-up-btn">sign up</button>
</div>

<script src="/js/login.js"></script>
<script src="/js/socket.js"></script>