<div class="wrapper">
    <div class="upper-area">  
        <div>
            <button class="button">HOME</button>
        </div>

        <div class="room-key-wrap">
            <div class="room-key">
                <h3 id="key">KEY GOES HERE</h3
                ><button class="button">Copy</button>
            </div>
        </div>
    </div>    
    <div class="messaging-box">
        <li></li>
    
    </div>
    <div class="message-wrap">
        <input  class="type-message" type="text">
        <button class="send-button">Send</button>
    </div>
<div>