<!-- HEADER -->
{{> main-header}}
<!-- INPUT FIELDS -->
<div class="form-container">
    <form id="signup-form">
        <label for="input"></label>
        <br>
        <input id="name-input" type="text" placeholder="name" name="name" autocomplete="off">
        <br>
        <input id="email-input" type="text" placeholder="email" name="email" autocomplete="off">
        <br>
        <input id="pass-input" type="password" placeholder="password" name="password">
        <br>
        <button type="submit" id="sign-up-btn">sign up</button>
        <!-- Display error message -->
        {{#if errorMessage}}
        <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>

{{> footer}}
<script src="/js/sign-up.js"></script>