/* MAIN COLORS & FONT SIZES */
:root {

  --background-color: rgb(250, 231, 212);
  --header-color: rgb(220, 122, 61);
  --button-color: rgba(51, 39, 7, 0.918);
  --brown-text: rgba(51, 39, 7, 0.918);
  --cream-text: rgb(250, 231, 212);
  --input-fields: rgba(220, 122, 61, 0.82);
  --hover: rgb(250, 231, 212);
  --hamburger: rgba(108, 57, 18, 0.598);
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color);
  max-height: 100vh;
  font-family: Inconsolata;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0%;
}

/* HEADER */
img {
  justify-content: center;
  width: 25%
}

a{
  color: var(--cream-text);
  text-decoration: none;
}

#catchphrase {
  font-size: 2rem;
  color: var(--brown-text);
}

/* BUTTONS */
.btns-container {
  display: flex;
  justify-content: center;
  min-width: 60%;
}

button {
  background-color: var(--header-color);
  color: var(--brown-text);
  padding: 4%;
  border-radius: 10px;
  border-style: none;
  font-size: 1.6rem;
  margin: 20px;
  cursor: pointer;
  display: inline-block;
  text-rendering: geometricprecision;
  text-transform: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: var(--input-fields);
  background-position: 0 0;
  color: var(--cream-text);
}

button:active {
  transform: translateY(5px);
  transition: 200ms;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-right: 30px;
}

.logout {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--cream-text);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  font-family: Inconsolata;
}

.logout:hover,
.logout:active {
  background-color: var(--cream-text);
  background-position: 0 0;
  color: var(--brown-text);
}

.logout:active {
  opacity: .5;
}

.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid var(--cream-text);
  height: 300px;
}

.my-col {
  border: 3px dotted blue;
}

.navbar-custom {
  background-color: var(--cream-text);
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--brown-text);
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--hamburger);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  overflow-y: scroll;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--cream-text);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: Inconsolata;
  transition-duration: .25s;
}

p {
  margin: 1%;
}

a {
  display: block;
  padding: 12px 24px;
  color: var(--cream-text);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: Inconsolata;
  transition-duration: .25s;
}

.menu__item:hover,
a:hover {
  background-color: var(--brown-text);
}

footer {
  margin-bottom: 2%;
}

#footer-msg {
  color: var(--brown-text);
  font-size: 1rem;
  margin-bottom: 1%;
}

#contact {
  color: var(--brown-text);
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder
}

/* RESPONSIVENESS */

/* XS */
@media (min-width: 300px) and (max-width: 500px) {

  /* HEADER */
  img {
    justify-content: center;
    width: 60%
  }

  #catchphrase {
    font-size: 1.3rem;
    color: var(--brown-text);
  }

  .btns-container {
    flex-direction: column;
    min-width: 60%;
  }

  button {
    padding: 5%;
    font-size: 1.2rem;
    margin: 2%;
  }
}

/* S */
@media (min-width: 501px) and (max-width: 700px) {

  /* HEADER */
  img {
    justify-content: center;
    width: 50%
  }

  #catchphrase {
    font-size: 1.7rem;
    color: var(--brown-text);
  }

  .btns-container {
    flex-direction: column;
    min-width: 50%;
  }

  button {
    padding: 5%;
    font-size: 1.5rem;
    margin: 2%;
  }
}

/* M */
@media (min-width: 701px) and (max-width: 1000px) {

  /* HEADER */
  img {
    justify-content: center;
    width: 35%
  }

  #catchphrase {
    font-size: 1.7rem;
    color: var(--brown-text);
  }

  .btns-container {
    min-width: 60%;
  }

  button {
    padding: 4%;
    font-size: 1.3rem;
    margin: 2%;
  }
}

/* L */
@media (min-width: 1001px) and (max-width: 1500px) {

  /* HEADER */
  img {
    justify-content: center;
    width: 27%
  }

  #catchphrase {
    font-size: 1.7rem;
    color: var(--brown-text);
  }

  .btns-container {
    min-width: 60%;
  }

  button {
    padding: 3%;
    font-size: 1.4rem;
    margin: 2%;
  }
}

/* XL */
@media (min-width: 1501px) {

  /* HEADER */
  img {
    justify-content: center;
    width: 22%
  }

  #catchphrase {
    font-size: 1.7rem;
    color: var(--brown-text);
  }

  .btns-container {
    min-width: 60%;
  }

  button {
    padding: 2.2%;
    font-size: 1.4rem;
    margin: 2%;
  }
}