/* MAIN COLORS & FONT SIZES */
:root {
  --background-color: rgb(250, 231, 212);
  --header-color: rgb(220, 122, 61);
  --button-color: rgba(51, 39, 7, 0.918);
  --brown-text: rgba(51, 39, 7, 0.918);
  --cream-text: rgb(250, 231, 212);
  --input-fields: rgba(220, 122, 61, 0.82);
  --hover: rgb(250, 231, 212);
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color);
  max-height: 100vh;
  font-family: Inconsolata;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0%;
}

/* HEADER */
img {
  justify-content: center;
  width: 25%
}

h2 {
  font-size: 2rem;
  color: var(--brown-text);
}

/* BUTTONS */
.btns-container {
  display: flex;
  justify-content: center;
  min-width: 60%;
}

button {
  background-color: var(--header-color);
  color: var(--brown-text);
  /* align-items: center; */
  /* width: 40%;
  height: 100%; */
  padding: 4%;
  border-radius: 10px;
  border-style: none;
  /* border-radius:24px; */
  font-size: 1.6rem;
  margin: 20px;
  /* border: 2px solid; */
  /* border-radius: 6px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px; */
  /* box-sizing: border-box; */
  cursor: pointer;
  display: inline-block;
  /* padding: 12px 14px; */
  /* text-align: center; */
  text-rendering: geometricprecision;
  text-transform: none;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: var(--input-fields);
  background-position: 0 0;
  color: var(--cream-text);
}

/* .button-24:active {
  opacity: .5;
} */

button:active {
  transform: translateY(5px);
  transition: 200ms;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-right: 30px;
  /* margin-left: 1600px; */
}