/* MAIN COLORS */
:root {
    --background-color: rgb(250, 231, 212);
    --header-color: rgb(220, 122, 61);
    --button-color: rgba(51, 39, 7, 0.918);
    --brown-text: rgba(51, 39, 7, 0.918);
    --cream-text: rgb(250, 231, 212);
    --input-fields: rgba(220, 122, 61, 0.605);
    --hover: rgb(212, 85, 6);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    font-family: Inconsolata;
}

/* HEADER */
header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 15%
}

.img-container {
    display: block;
    text-align: left;
    margin-right: 1%;
}

.home-btn-container {
    text-align: right;
    margin-right: 1%;
}

/* INPUT FIELDS */
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0%;
}

form {
    align-self: center;
    width: 100%;
}

label {
    color: var(--brown-text);
    font-size: 2.5rem;
}

#code-input {
    background-color: var(--input-fields);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1.5%;
    font-family: Inconsolata;
    font-size: 1.4rem;
    width: 35%;
}

input::placeholder {
    color: var(--cream-text);
}

/* BUTTONS */
#home-btn {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: none;
    padding: 15%;
    font-family: Inconsolata;
    font-size: 1.3rem;
}

#join-btn {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: none;
    padding: 1.6%;
    font-family: Inconsolata;
    font-size: 1.6rem;
}

#join-btn:hover,
#join-btn:active,
#home-btn:hover,
#home-btn:active {
    background-color: var(--hover);
    background-position: 0 0;
    color: var(--cream-text);
}

button:active {
    transform: translateY(5px);
    transition: 200ms;
}

#error-message {
    color: rgb(171, 37, 37);
}

/* RESPONSIVENESS */

/* XS */
@media (min-width: 300px) and (max-width: 500px) {

    /* HEADER */
    img {
        width: 20%
    }

    .home-btn-container {
        margin-right: 4%;
    }

    #home-btn {
        font-size: 1.1rem;
    }

    label {
        font-size: 2rem;
    }

    #code-input {
        font-size: 1.1rem;
        width: 50%;
    }

    #join-btn {
        padding: 2%;
        font-size: 1.1rem;
    }
}

/* S */
@media (min-width: 501px) and (max-width: 700px) {

    /* HEADER */
    img {
        width: 15%
    }

    .home-btn-container {
        margin-right: 2%;
    }

    #home-btn {
        font-size: 1.1rem;
    }

    label {
        font-size: 2rem;
    }

    #code-input {
        font-size: 1.1rem;
        width: 40%;
    }

    #join-btn {
        font-size: 1.1rem;
    }
}

/* M */
@media (min-width: 701px) and (max-width: 1000px) {

    /* HEADER */
    img {
        width: 10%
    }

    .home-btn-container {
        margin-right: 2%;
    }

    #home-btn {
        padding: 15%;
        font-size: 1.2rem;
    }

    label {
        font-size: 2rem;
    }

    #code-input {
        font-size: 1.2rem;
        width: 35%;
    }

    #join-btn {
        font-size: 1.2rem;
    }
}

/* L */
@media (min-width: 1001px) and (max-width: 1500px) {

    /* HEADER */
    img {
        width: 10%
    }

    .home-btn-container {
        margin-right: 2%;
    }

    #home-btn {
        padding: 20%;
        font-size: 1.2rem;
    }

    label {
        font-size: 2.2rem;
    }

    #code-input {
        font-size: 1.3rem;
        width: 35%;
    }

    #join-btn {
        font-size: 1.3rem;
    }
}

/* XL */
@media (min-width: 1501px) {

    /* HEADER */
    img {
        width: 8%
    }

    .home-btn-container {
        margin-right: 2%;
    }

    #home-btn {
        padding: 20%;
        font-size: 1.3rem;
    }

    label {
        font-size: 2.2rem;
    }

    #code-input {
        font-size: 1.5rem;
        width: 35%;
    }

    #join-btn {
        font-size: 1.5rem;
    }
}