/* MAIN COLORS */
:root {
    --background-color: rgb(250, 231, 212);
    --header-color: rgb(220, 122, 61);
    --button-color: rgba(51, 39, 7, 0.918);
    --brown-text: rgb(72, 44, 14);
    --cream-text: rgb(250, 231, 212);
    --input-fields: rgba(220, 122, 61, 0.605);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    font-family: Inconsolata;
}

/* HEADER */
header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 15%
}

.img-container {
    display: block;
    text-align: left;
    margin-right: 1%;
}

.home-btn-container {
    text-align: right;
    margin-right: 1%;
}

/* INPUT FIELDS */
.profile-container,
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0%;
}

h2 {
    color: var(--brown-text);
    font-size: 2.5rem;
}

form {
    align-self: center;
    width: 50%;
}

label {
    color: var(--cream-text);
}

#user-name,
#user-email,
#name-input,
#email-input {
    background-color: var(--input-fields);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1.5%;
    font-family: Inconsolata;
    font-size: 1.4rem;
    min-width: 90%;
}

#file-label {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 0px;
    border-width: 10px;
    border-style: double;
    padding: 1%;
    font-family: Inconsolata;
}

#home-btn {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: none;
    padding: 15%;
    font-family: Inconsolata;
    font-size: 1.3rem;
}

#cancel-btn,
#image-input,
#update-btn,
#update-profile-btn {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: none;
    padding: 1.6%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Inconsolata;
    font-size: 1.6rem;
}

.custom-file-upload {
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button:active {
    transform: translateY(5px);
    transition: 200ms;
}

#error-message {
    color: rgb(171, 37, 37);
}