/* MAIN COLORS & FONT SIZES */
:root {
  --background-color: rgb(250, 231, 212);
  --header-color: rgb(220, 122, 61);
  --button-color: rgba(51, 39, 7, 0.918);
  --brown-text: rgba(51, 39, 7, 0.918);
  --cream-text: rgb(250, 231, 212);
  --input-fields: rgba(220, 122, 61, 0.605);
  --hover: rgb(212, 85, 6);
}

body {
  background-color: var(--background-color);
  /* margin-bottom: 5%; */
}

/* HEADER */
header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 15%
}

.img-container {
  display: block;
  text-align: left;
  margin-right: 1%;
}

.home-btn-container {
  text-align: right;
  margin-right: 1%;
}

/* ROOM INFO */
.room-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#room-name {
  background-color: var(--header-color);
  color: var(--cream-text);
  border-color: var(--header-color);
  border-radius: 10px;
  border-width: 5px;
  border-style: none;
  padding: 1.6%;
  font-family: Inconsolata;
  font-size: 2.5rem;
  margin: 1%;
}

.code-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#room-code {
  background-color: var(--input-fields);
  color: var(--cream-text);
  border-color: var(--header-color);
  border-radius: 10px;
  border-width: 5px;
  border-style: double;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1.5%;
  font-family: Inconsolata;
  font-size: 1.4rem;
  width: 35%;
}

/* BUTTONS */
#home-btn {
  background-color: var(--header-color);
  color: var(--cream-text);
  border-color: var(--header-color);
  border-radius: 10px;
  border-width: 5px;
  border-style: none;
  padding: 15%;
  font-family: Inconsolata;
  font-size: 1.3rem;
}

#copy-btn {
  background-color: var(--header-color);
  color: var(--cream-text);
  border-color: var(--header-color);
  border-radius: 10px;
  border-width: 5px;
  border-style: none;
  padding: 1.6%;
  font-family: Inconsolata;
  font-size: 1.6rem;
  margin-left: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

/* Chat Window Styles */
.chat-window {
  width: 80%;
  max-width: 1260px;
  background-color: var(--input-fields);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.chat-area {
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

.chat-area::-webkit-scrollbar {
  display: none;
  -webkit-transition: opacity 0.5s ease-out;
  -webkit-animation: autoScrolling 5s linear infinite;
}

#message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  /* overflow: auto; */
  overflow-y: auto;
  max-height: 500px;
}

p {
  padding: 10px;
  border-radius: 1.25rem;
  margin: .5%;
  background-color: var(--cream-text);
  color: var(--brown-text);
  font-size: 1.25rem;
  width: max-content;
}

#message-list::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: .75rem solid transparent;
  border-top: none;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  background-color: var(--brown-text);
  padding: 10px;
  border-radius: 4px;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--brown-text);
  /* width: 75%; */
  max-width: 1260px;
  /* border-radius: 8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; */
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid var(--brown-text);
  border-radius: 4px;
}

#send-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: var(--header-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

#send-button:hover {
  background-color: var(--header-color);
}

/* PARTICIPANTS */
.participants-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Inconsolata;
}

.participants-info {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  background-color: var(--input-fields);
  border-radius: 8px;
  width: 80%;
  padding-bottom: 1.5%;
}

#participants-title {
  background-color: var(--brown-text);
  color: var(--cream-text);
  margin: 0%;
  padding: 2%;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 2rem;
}

#host {
  color: var(--brown-text);
  margin-top: 3%;
  margin-bottom: 1.5%;
  font-size: 1.5rem;
}

#guests-title {
  color: var(--brown-text);
  margin-bottom: 1.5%;
  font-size: 1.5rem;
}

#guests {
  color: var(--brown-text);
  margin-top: 0%;
  margin-bottom: 1%;
  padding: 0%;
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  margin: 0%;
}

footer {
  display: block;
  text-align: center;
  align-items: center;
  margin-bottom: 1%;
}

#footer-msg {
  color: var(--brown-text);
  font-size: 1rem;
  margin-bottom: 1%;
}

#contact {
  color: var(--brown-text);
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

/* RESPONSIVENESS */

/* XS */
@media (min-width: 300px) and (max-width: 500px) {

  /* HEADER */
  img {
    width: 20%
  }

  .home-btn-container {
    margin-right: 4%;
  }

  #home-btn {
    font-size: 1.1rem;
  }

  #room-name {
    font-size: 1.2rem;
    margin-top: 5%;
  }

  #room-code {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
    width: 50%;
  }

  #copy-btn {
    font-size: 1rem;
    margin-left: 2%;
  }

  p {
    font-size: .7rem;
  }

  #participants-title {
    font-size: 1.3rem;
  }

  #message-input {
    width: 10%;
    font-size: .7rem;
  }

  #host,
  #guests-title {
    font-size: 1.2rem;
  }

  #guests {
    font-size: 1rem;
  }
}

/* S */
@media (min-width: 501px) and (max-width: 700px) {

  /* HEADER */
  img {
    width: 15%
  }

  .home-btn-container {
    margin-right: 2%;
  }

  #home-btn {
    font-size: 1.1rem;
  }

  #room-name {
    font-size: 1.5rem;
    margin-top: 5%;
  }

  #room-code {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.3rem;
    width: 50%;
  }

  #copy-btn {
    font-size: 1.3rem;
    margin-left: 2%;
  }

  p {
    font-size: .9rem;
  }

  #participants-title {
    font-size: 1.3rem;
  }

  #message-input {
    width: 10%;
    font-size: .8rem;
  }

  #host,
  #guests-title {
    font-size: 1.2rem;
  }

  #guests {
    font-size: 1rem;
  }
}

/* M */
@media (min-width: 701px) and (max-width: 1000px) {

  /* HEADER */
  img {
    width: 10%
  }

  .home-btn-container {
    margin-right: 2%;
  }

  #home-btn {
    padding: 15%;
    font-size: 1.2rem;
  }

  #room-name {
    font-size: 1.7rem;
    margin-top: 5%;
  }

  #room-code {
    font-size: 1.3rem;
    width: 50%;
  }

  #copy-btn {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  #participants-title {
    font-size: 1.5rem;
  }

  #message-input {
    width: 10%;
    font-size: 1rem;
  }

  #host,
  #guests-title {
    font-size: 1.4rem;
  }

  #guests {
    font-size: 1.2rem;
  }
}

/* L */
@media (min-width: 1001px) and (max-width: 1500px) {

  /* HEADER */
  img {
    width: 10%
  }

  .home-btn-container {
    margin-right: 2%;
  }

  #home-btn {
    padding: 20%;
    font-size: 1.2rem;
  }

  #room-name {
    font-size: 1.9rem;
    margin-top: 5%;
  }

  #room-code {
    font-size: 1.4rem;
    width: 50%;
  }

  #copy-btn {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.2rem;
  }

  #participants-title {
    font-size: 1.9rem;
  }

  #message-input {
    width: 10%;
    font-size: 1rem;
  }

  #host,
  #guests-title {
    font-size: 1.5rem;
  }

  #guests {
    font-size: 1.3rem;
  }
}

/* XL */
@media (min-width: 1501px) {

  /* HEADER */
  img {
    width: 8%
  }

  .home-btn-container {
    margin-right: 2%;
  }

  #home-btn {
    padding: 20%;
    font-size: 1.3rem;
  }

  #room-name {
    font-size: 1.9rem;
    margin-top: 5%;
  }

  #room-code {
    font-size: 1.5rem;
    width: 50%;
  }

  #copy-btn {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.2rem;
  }

  #participants-title {
    font-size: 1.9rem;
  }

  #message-input {
    width: 10%;
    font-size: 1rem;
  }

  #host,
  #guests-title {
    font-size: 1.5rem;
  }

  #guests {
    font-size: 1.3rem;
  }
}
#user-el {
  font-family: Inconsolata;
  font-size: small;
}

#message-el{
  font-family: Inconsolata;
  font-size: large;
}