/* MAIN COLORS & FONT SIZES */
:root {
    --background-color: rgb(250, 231, 212);
    --header-color: rgb(220, 122, 61);
    --button-color: rgba(51, 39, 7, 0.918);
    --brown-text: rgba(51, 39, 7, 0.918);
    --cream-text: rgb(250, 231, 212);
    --input-fields: rgba(220, 122, 61, 0.605);
    --hover:#ffffff;
  }
  
  body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    max-height: 100vh;
    font-family: Inconsolata;
  }
  
  h1,
  h2{
    color: var(--brown-text);
  }
  
  h1{
  font-size: 80px;
  }
  
  h2{
  font-size: 50px;
  }
  .button{
    display: flex;
    align-items: flex-end;
    color: var(--brown-text);
    width: 90px;
    height: 50px;
    border-radius:24px;
    font-size: 20px;
    margin: 20px;
    border: 2px solid;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button:hover,
  .button:active {
  background-color: var(--input-fields);
  background-position: 0 0;
  color: var(--hover);
  border-color: var(--hover);
  }
  
  .button-24:active {
  opacity: .5;
  }
  
  nav{
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  margin-top: 30px;
  margin-right: 30px;
  }
  
  .room-key-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .room-key{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 20px;
    width: 370px;
    height: 70px;
  }
  
  #key{
    opacity: 35%;
    font-size: 25px;
  }
  
  h3{
    margin: 0px;
    padding: 0px;
  }
  
  .messaging-box{
    border: 2px solid;
    border-radius: 20px;
    margin: 40px;
    height: 600px;
  }
  
  .wrapper{
    border: 2px solid;
    border-radius: 20px;
    margin: 20px;
  }
  .upper-area{
    display: flex;
    flex-direction: column;
  }
  
  .message-wrap{
    display: flex;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .send-button{
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    padding: 2px;
  }
  
  .type-message{
    border: 1px solid;
    border-radius:5px;
    height: 46px;
    width: 45%;
  }
  
  #home-btn{
    display: none;
  }