/* MAIN COLORS */
:root {
    --background-color: rgb(250, 231, 212);
    --header-color: rgb(220, 122, 61);
    --button-color: rgba(51, 39, 7, 0.918);
    --brown-text: rgba(51, 39, 7, 0.918);
    --cream-text: rgb(250, 231, 212);
    --input-fields: rgba(220, 122, 61, 0.605);
}

body {
    display: flex;
    text-align: center;
    background-color: var(--background-color);
    font-family: Inconsolata;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}

/* HEADER */
h1,
h2 {
    color: var(--brown-text);
}

/* INPUT FIELDS */
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    align-self: center;
    width: 100%;
}

label {
    color: var(--cream-text);
}

#name-input,
#email-input,
#pass-input {
    background-color: var(--input-fields);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    margin-bottom: 1%;
    padding: 1%;
    font-family: Inconsolata;
}

#sign-up-btn {
    background-color: var(--header-color);
    color: var(--cream-text);
    border-color: var(--header-color);
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    padding-left: 1%;
    padding-right: 1%;
    font-family: Inconsolata;
}

button:active {
    transform: translateY(5px);
    transition: 200ms;
}

#error-message {
    color: rgb(171, 37, 37);
}